<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/jquery-3.4.1.js" type="text/javascript"></script>
    <style>
        select{
            width: 200px;
            height: 26px;
        }
    </style>
    <script>
        $(function(){
            $.get("/city/province", function (data) {
                $.each(data,function(index,item){
                    var option=new Option();
                    option.value = item.code;
                    option.text = item.name;
                    $("#province").append(option);
                })
            });
            $("#province").change(function(){
                //:gt 选择器选取 index 值高于指定数的元素
                $("#city > option:gt(0)").remove();
                $("#area > option:gt(0)").remove();
                var code = $(this).val();
                if (code === 0) {
                    return;
                }
                $.get("/city/city/" + code, function (data) {
                    $.each(data, function (index, item) {
                        var option=new Option();
                        option.value = item.code;
                        option.text = item.name;
                        $("#city").append(option);
                    })
                })
            });

            $("#city").change(function () {
                $("#area > option:gt(0)").remove();
                var code = this.value;
                if (code === 0) {
                    return;
                }
                $.get("/city/city/" + code, function (data) {
                    $.each(data, function (index, item) {
                        var option = new Option();
                        option.value = item.code;
                        option.text = item.name;
                        $("#area").append(option);

                    })
                })

            })

            $("#area").change(function () {
                var code = this.value;
                if (code === 0) {
                    return;
                }
                $("#info").html($("#province").find("option:selected").text());
            })




            $.get("/json/languages.json",function(data){
               console(data);
            })
        });

    </script>
</head>

<body>
    <form>
        <select id="province">
            <option value="0">请选择</option>
        </select>
        <select id="city">
            <option value="0">请选择</option>
        </select>
        <select id="area">
            <option value="0">请选择</option>
        </select>
        <div id="info">

        </div>
    </form>
</body>
</html>