<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/js/jquery-3.4.1.js"></script>
    <script>
        $(function(){
            $.getJSON("course.json",function(data){
                $.each(data,function(index,item){
                    $("<tr></tr>").append("<td>"+item.id+"</td>")
                             .append("<td>"+item.name+"</td>")
                             .append("<td>"+item.period+"</td>")
                             .appendTo($("tbody"))
                })

            })
        })


    </script>
</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <td>课程编号</td>
                    <td>课程名称</td>
                    <td>课程描述</td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</body>
</html>